@using Library.Models
@using Library.ViewModels
@model Library.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    .placeholder-option {
        color: #6c757d;
    }
</style>

<h1>Editar detalles del libro</h1>

<hr />
<div class="container mt-3">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="ItemCode" class="control-label"></label>
                <input asp-for="ItemCode" class="form-control" readonly />
                <span asp-validation-for="ItemCode" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="Edition" class="control-label">Edición<span class="text-danger"> *</span></label>
                <select asp-for="Edition" class="form-control">
                    <option value="" disabled selected class="placeholder-option">-- Selecciona edición --</option>
                    @for (var i = 1; i <= 20; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Edition" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="Title" class="control-label required">Título<span class="text-danger"> *</span></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="CategoryId" class="control-label required">Categoría del ítem<span class="text-danger">
                        *</span></label>
                <select asp-for="CategoryId"
                    asp-items="@(new SelectList(Model.Categories.Where(c => c.ItemType == ItemType.Book), nameof(CategoryViewModel.Id), nameof(CategoryViewModel.Name)))"
                    class="form-control">
                    <option value="" disabled selected class="placeholder-option">-- Selecciona categoría --</option>
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="ISBN" class="control-label">ISBN<span class="text-danger"> *</label>
                <input asp-for="ISBN" class="form-control" placeholder="ej.,ISBN XXX-XXX-XXX-XX-XX" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="GenreId" class="control-label required">Género</label>
                <select asp-for="GenreId"
                    asp-items="@(new SelectList(Model.Genres, nameof(GenreViewModel.Id), nameof(GenreViewModel.Name)))"
                    class="form-control">
                    <option value="" disabled selected class="placeholder-option">-- Selecciona género --</option>
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="Description" class="control-label">Descripción</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="PublisherId" class="control-label">Editorial</label>
                <select asp-for="PublisherId"
                    asp-items="@(new SelectList(Model.Publishers, nameof(PublisherViewModel.Id), nameof(PublisherViewModel.Name)))"
                    class="form-control">
                    <option value="" disabled selected class="placeholder-option">-- Selecciona editorial --</option>
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="PublishedYear" class="control-label">Año de publicación</label>
                <select asp-for="PublishedYear" class="form-control">
                    <option value="" disabled selected class="placeholder-option">-- Selecciona año de publicación --
                    </option>
                    @for (var y = DateTime.UtcNow.Year; y >= 1900; y--)
                    {
                        <option value="@y" selected="@(Model.PublishedYear == y)">
                            @y
                        </option>
                    }
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="LanguageId" class="control-label required">Idioma<span class="text-danger">
                        *</span></label>
                <select asp-for="LanguageId"
                    asp-items="@(new SelectList(Model.Languages, nameof(LanguageViewModel.Id), nameof(LanguageViewModel.Name)))"
                    class="form-control">
                    <option value="" disabled selected class="placeholder-option">-- Selecciona idioma --</option>
                </select>
            </div>
        </div>

        <br />

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-info" />
        </div>
    </form>

</div>

<br />

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}