@using Library.Utilities
@model PagedResult<Library.ViewModels.BookViewModel>

@{
    ViewData["Title"] = "Index";
}


<h1>Libros</h1>

<form asp-action="Index" method="get">
    <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" style="width: 400px"
        placeholder="Buscar por título de libro" />
    <button type="submit" class="btn btn-primary">Buscar</button>
    <a asp-action="Index" class="btn btn-primary">Limpiar</a>
</form>


<p>
    <a asp-action="Create" class="btn btn-secondary">Agregar nuevo libro</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Código de ítem
            </th>
            <th>
                Título
            </th>
            <th>
                ISBN
            </th>

            <th>
                Idioma
            </th>
            <th>
                Categoría
            </th>
            <th>
                Género
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Language.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    <div class="d-flex gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Editar</a> |
                        <button class="btn btn-sm btn-danger"
                            onclick="openDeleteModal(@item.Id, '@item.Title', '@ViewContext.RouteData.Values["controller"]')">Eliminar</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<cs-pager cs-paging-pagesize=(int)Model.PageSize cs-paging-pagenumber=(int)Model.PageNumber
    cs-paging-totalitems=(int)Model.TotalItems cs-pagenumber-param="pageNumber" asp-controller="Book" asp-action="Index"
    cs-pager-li-current-class="page-item active" cs-pager-li-other-class="page-item"
    cs-pager-li-non-active-class="page-item disabled" cs-pager-link-current-class="page-link"
    cs-pager-link-other-class="page-link">
</cs-pager>
