@using Library.Utilities
@model PagedResult<Library.ViewModels.NewspaperViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Periódicos</h1>

<br />
<form asp-action="Index" method="get">
    <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" style="width: 400px"
        placeholder="Buscar periódicos" />
    <button type="submit" class="btn btn-primary">Buscar</button>
    <a asp-action="Index" class="btn btn-primary">Limpiar</a>
</form>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Código de periódico
            </th>
            <th>
                Título
            </th>
            <th>
                ISSN
            </th>
            <th>
                Idioma
            </th>
            <th>
                Descripción
            </th>
            <th>
                Fecha de emisión
            </th>
            <th>
                Número de edición
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssuedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueNumber)
                </td>

            </tr>
        }
    </tbody>
</table>

<cs-pager cs-paging-pagesize=(int)Model.PageSize cs-paging-pagenumber=(int)Model.PageNumber
    cs-paging-totalitems=(int)Model.TotalItems cs-pagenumber-param="pageNumber" asp-controller="Newspaper"
    asp-action="Index" cs-pager-li-current-class="page-item active" cs-pager-li-other-class="page-item"
    cs-pager-li-non-active-class="page-item disabled" cs-pager-link-current-class="page-link"
    cs-pager-link-other-class="page-link">
</cs-pager>
